body {
  background-color: var(--main_white);
}

/**********************************************HEADER**************************************************/

header {
  margin: -8px -8px 0px -8px;
}

.navbar-up {
  background-color: var(--secondary_dark);
  padding: 8px 8px 8px 8px;
}

.navbar-up * {
  vertical-align: middle;
}

.nav-search-input {
  height: 40px;
  margin-left: 1em;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 17px;
  padding-left: 25px;
  padding-right: 40px;
  width: 300px;
  border: 1px solid var(--main_white);
  font-size: 13px;
  color: gray;
}

.search-btn {
  background-image: url('https://images.vexels.com/media/users/3/195032/isolated/preview/5c8f453f712deaccf64d803b6578abd6-escola-de-iacute-cones-lisos-de-lupa-by-vexels.png');
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 25px;
  outline: 0;
}

.nav-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.nav-button img {
  width: 30px;
}

.nav-section {
  color: var(--main_white);
  position: absolute;
  width: 150px;
  padding: 15px;
  margin-top: -8px;
  height: 67px;
}

.nav-section:hover {
  background-color: var(--secondary);
  border-bottom: 1px;
}

.first {
  right: 0px;
}

.last {
  right: 150px;
}

.navbar-down {
  background-color: var(--secondary);
  padding: 10px 70px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-dropdown {
  color: var(--main_white);
  cursor: pointer;
  border: none;
  font-size: 16px;

  -webkit-appearance: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.vertical-hr {
  border-left: 2px solid var(--main_white);
  height: 40px;
}

.navbar-link {
  text-decoration: none;
  color: var(--main_white);
  margin-left: 2em;
}

.navbar-link:hover {
  color: var(--primary);
}

/**********************************************HEADER**************************************************/

/**********************************************FOOTER**************************************************/

footer {
  background-color: var(--secondary);
  column-count: 5;
  column-gap: 10px;
  -moz-column-count: 5;
  -webkit-column-count: 5;
  margin: 0px -8px -16px -8px;
  padding-top: 5px;
}

.contact-form {
  width: 80%;
  background-color: var(--secondary_light);
  border-radius: 30px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  padding-top: 1em;
  padding-bottom: 1em;
}

.contact-form p {
  text-align: center;
}

.contact-form input {
  margin-left: 13em;
  height: 45px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 17px;
  padding-left: 25px;
  padding-right: 40px;
  width: 500px;
  border: 1px solid var(--main_white);
  font-size: 20px;
  color: gray;
}

.contact-form button {
  background: var(--primary);
  color: var(--main_white);
  border: none;
  padding: auto auto auto auto;
  font-size: 25px;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: inherit;
}

.footer-section {
  margin: 0px 10px 10px 10px;
}

.footer-section h3 {
  text-align: center;
}

.footer-section ul li {
  list-style: none;
  color: var(--main_black);
}
.footer-section ul li a {
  text-decoration: none;
  color: var(--main_black);
}

.footer-section ul li a:hover {
  color: var(--primary);
}

.inline li {
  display: inline;
  margin-left: 10px;
}
/**********************************************FOOTER**************************************************/

/**********************************************SALE-WEEK**************************************************/

#sale-week {
  margin: 1em 2em 1em 2em;
}

.item {
  width: 175px;
  text-align: center;
}

#sale-week a {
  text-decoration: none;
  color: var(--main_black);
}

#sale-week a:hover {
  text-decoration: underline;
}

#sale-week ul li {
  display: inline-block;
}

/**********************************************SALE-WEEK**************************************************/
