* {
  --primary: #eb5e0b;
  --primary_light: #f67d35;
  --primary_dark: #b74909;
  --secondary: #5eaaa8;
  --secondary_light: #a3d2ca;
  --secondary_dark: #478685;
  --main_white: #eeeeee;
  --main_black: #222222;
}
