/**********************************************ITEM**************************************************/

#item {
  margin: 3em 2em 3em 2em;
}

.buy-item {
  display: flex;
}

.item-images {
  width: 50%;
}

.item-info {
  width: 50%;
}

.item-info input[type='number'] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.item-info #cart {
  background: var(--primary);
  color: var(--main_white);
  border: none;
  padding: auto auto auto auto;
  width: 175px;
  height: 75px;
  font-size: 25px;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: inherit;
}

.item-info #buy {
  background: var(--secondary);
  color: var(--main_white);
  border: none;
  padding: auto auto auto auto;
  width: 175px;
  height: 75px;
  font-size: 25px;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: inherit;
}

.description-header {
  background-color: var(--secondary);
  margin-top: 1em;
  padding: 8px 8px 8px 8px;
}

.description-header a {
  text-decoration: none;
  color: var(--main_white);
}

.description-header a:hover {
  color: var(--primary);
}

.description-header ul li {
  display: inline-block;
  margin-left: 6em;
  margin-right: 7em;
}

.description-section {
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding: 1em 1em 1em 1em;
  margin-top: 1em;
}

#buy-together ul li {
  display: inline-block;
}

#buy-together a {
  text-decoration: none;
  color: var(--main_black);
}

#buy-together a:hover {
  text-decoration: underline;
}
