body {
  background-color: var(--main_white);
}

/**********************************************HEADER**************************************************/

header {
  margin: -8px -8px 0px -8px;
}

.navbar-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  padding: 8px 70px;
}

.header-left-container {
  display: flex;
  align-items: center;
}

.input-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.nav-search-input {
  width: 400px;
  margin-left: 50px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
}

.fas,
.fab {
  font-size: 20px;
}

.fa-search {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-buttons-container {
  display: flex;
}

.nav-section {
  color: var(--main_white);
  padding: 10px;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.nav-section:hover {
  background-color: var(--secondary);
  transition: all 0.3s;
}

.first {
  right: 0px;
}

.last {
  right: 150px;
}

.navbar-down {
  background-color: var(--secondary_dark);
  padding: 10px 70px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-dropdown {
  color: var(--main_white);
  cursor: pointer;
  border: none;
  font-size: 16px;

  -webkit-appearance: none;
  background-image: none;
  background-color: var(--secondary_dark);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.vertical-hr {
  border-left: 2px solid var(--main_white);
  height: 40px;
}

.navbar-link {
  text-decoration: none;
  color: var(--main_white);
  margin-left: 2em;
}

.navbar-link:hover {
  color: var(--primary);
}

.contact-form {
  width: 80%;
  background-color: var(--secondary_light);
  border-radius: 30px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  padding-top: 1em;
  padding-bottom: 1em;
}

.contact-form p {
  text-align: center;
}

.contact-form input {
  margin-left: 13em;
  height: 45px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 17px;
  padding-left: 25px;
  padding-right: 40px;
  width: 500px;
  border: 1px solid var(--main_white);
  font-size: 20px;
  color: gray;
}

.contact-form button {
  background: var(--primary);
  color: var(--main_white);
  border: none;
  padding: auto auto auto auto;
  font-size: 25px;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: inherit;
}

/**********************************************HEADER**************************************************/

/**********************************************FOOTER**************************************************/

footer {
  background-color: var(--secondary);
  margin: 0px -8px -16px -8px;
  display: flex;
  justify-content: space-between;
}

.footer-section {
  margin: 0px 10px 20px 10px;
}

#footer-logo {
  margin-top: 25px;
}

.footer-section h3 {
  text-align: center;
}

.footer-section ul li {
  list-style: none;
  color: var(--main_black);
}
.footer-section ul li a {
  text-decoration: none;
  color: var(--main_black);
}

.footer-section ul li a:hover {
  color: var(--primary);
}

.inline li {
  display: inline;
  margin-left: 10px;
}
/**********************************************FOOTER**************************************************/

/**********************************************SALE-WEEK**************************************************/

#sale-week {
  margin: 1em 2em 1em 2em;
}

.item {
  width: 175px;
  text-align: center;
}

#sale-week a {
  text-decoration: none;
  color: var(--main_black);
}

#sale-week a:hover {
  text-decoration: underline;
}

#sale-week ul li {
  display: inline-block;
}

/**********************************************SALE-WEEK**************************************************/
