/**********************************************ABOUT**************************************************/

.about {
  margin: 3em 2em 3em 2em;
}

.about img {
  float: left;
  margin-right: 1em;
}

/**********************************************ABOUT**************************************************/
